*, *::before,*::after {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}

h2, h4, p {
    padding: 0;
    margin: 0;
}

h2, h4 {
    color: #48556a;
}

p {
    color: #6d7f97;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

main {
    margin: 20% 5% 30% 5%;
}

#card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 11px 1px rgba(15,9,97,0.10);
}

#image-box {
    border: 2px red;
    height: 200px;
    background-image: url(./images/drawers.jpg);
    background-size: cover;
    background-position: center center;
}

#text-box {
    height: auto;
    padding: 40px 35px 15px 35px;    
}

#author-box {
    display: flex;
    height: 70px;
    margin-bottom: 10px;
}

#profile-pic, #share-button {
    display: flex;
    align-items: center;
    flex-basis: 20%;
}

#name-date {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

#profile-pic {
    justify-content: right;
}

#pic {
    border-radius: 50%;
    width: 40px;
}

#name, #date, #pic {
    opacity: 1;
    transition: opacity .7s;
}

#button {
    margin-top: 20px;
    padding-top: 2px;
    background-color: #ecf2f8;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1;
}

#share-svg {
    color: #6E8098;
}

#button, #share-svg {
    transition: color, 0.4s
}

#button:hover {
    cursor: pointer;
}

#share-box {
    opacity: 0;
    transition: opacity .7s;
    display: flex;
    margin-bottom: -70px;
    padding-left: 35px;
    z-index: 0;
    width: 100%;
    height: 70px;
    background-color: #48556a;
    justify-content: start;
    align-items: center;
    position: relative;
    bottom: 70px;
}

#share-box p {
    color:#9eafc2;
    letter-spacing: 4px;
    font-weight: 500;
}

#share-box img {
    padding-left: 15px;
}

#share-box img:hover {
    transition-duration: .4s;
    cursor: pointer;
    opacity: 0.7;
}

@media (min-width: 576px) {

    h2 {
        font-size: 1.55rem;
    }

    #card {
        display: flex;
        flex-direction: row;
        max-width: 750px;
        max-height: 500px;
        overflow: visible;
    }
    
    #image-box {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        flex-basis: 40%;
        height: auto;
    }

    #desktop-left {
        flex-basis: 60%;
    }

    #text-box {
        padding: 35px 35px 10px 35px;    
    }

    #author-box {
        margin-bottom: -40px;
    }

    #name-date {
        flex-basis: 65%;
    }

    #share-button {
        flex-basis: 15%;
    }

    #button {
        margin-top: 0;
    }

    #share-box {
        border-radius: 10px;
        margin: 0;
        padding-left: 0;
        width: 230px;
        height: 50px;
        bottom: 85px;
        left: 280px;
        justify-content: center;
        box-shadow: 0px 0px 11px 1px rgba(15,9,97,0.14);
    }

    #share-box::before {
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #48556a transparent transparent transparent;
        content: "";
        position: absolute;
        right: 105px;
        top: 50px;
    }

}

